<div class="container-fluid">
    <div class="row justify-content-md-center">
        <hr>

        <div class="col-sm col-md-5">
            <h4>Novo jogo</h4>
            <div class="d-grid gap-2">
                <button (click)="criarsala(0)" class="btn btn-success"> Criar Sala
                </button>
            </div>
        </div>

        <div class="col-sm col-md-5">
            <h4>Entrar em uma sala</h4>
            <div class="input-group">
                <input id="codsala" aria-describedby="button-addon2" aria-label="Codigo da Sala" class="form-control"
                    placeholder="Codigo da Sala" type="text" value="PedroDCS" />
                <button (click)="entrarsala()" class="btn btn-primary" id="button-addon2" type="button">
                    Entrar na sala
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-sm col-md-5">
            <h4>Novo Pack de cartas</h4>
            <div class="d-grid gap-2">
                <button routerLink="/criarpack" class="btn btn-rosa">Criar um pack de cartas</button>
            </div>
        </div>
        <div class="col-sm col-md-5">
            <h4>Perfil de usuario</h4>
            <div class="d-grid gap-2">
                <button class="btn btn-roxo" routerLink="/perfil">Perfil</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal
<button class="btn btn-primary" data-bs-target="#staticBackdrop" data-bs-toggle="modal" type="button">
    Launch static backdrop modal
</button>

<button (click)="testes()">entrar</button>

Modal 
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
    data-bs-keyboard="false" id="staticBackdrop" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">Criar Sala</h2>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger col" data-bs-dismiss="modal" type="button">
                    Fechar
                </button>
                <button class="btn btn-primary col" type="button">Criar</button>
            </div>
        </div>
    </div>
</div>
-->